.cabecalho {
    background-color: blue;
    color: aliceblue;
    display: flex;
    justify-content: space-around;
}

.cabecalho-imagem{
    width: 20%;
}

.cabecalho-lista-item{
    display: inline-block;
}
