*{
margin: 0;
padding: 0;
}

.cabecalho {
background-color: aqua;
color:white
display: flex;
justify-content: space-around;
align-itens: center;
padding: 0 16px;
}

.cabecalho-imagem{
    width: 20%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}